@font-face{
    font-family: Generica;
    src:url('../Fonts/Generica.otf');
}

@font-face{
    font-family: Gontserrat;
    src:url('../Fonts/Gontserrat-Regular.ttf')
}

@font-face{
    font-family:Rounded-Elegance;
    src:url('../Fonts/Rounded_Elegance.ttf')
}

@font-face{
    font-family: Dogica;
    src:url('../Fonts/dogicapixel.ttf')
}

@font-face{
    font-family:Poxel;
    src:url('../Fonts/poxel-font.ttf')
}

.bg-theme-green{
    background-color:#67b896;

}
.text-theme-green{
    color:#67b896;

}
.bg-theme-purple{
    background-color:#7202f2;
}
.text-theme-purple{
    color:#7202f2;
}
.bg-theme-navy{
    background-color: #25397E;
}

.gontserrat{
    font-family: Gontserrat;
}
.r-e{
    font-family: Rounded-Elegance;
}
.dogica{
    font-family: Dogica;
}
.poxel{
    font-family: Poxel;
}

body, html{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}


.nav-link-space{
    margin-right: 15vw;
    margin-left: 15vw;
}

.custom-nav-link{
    font-size: 1.3em;
    font-family: Gontserrat;
}
.section-header{
    /* color:#eee; */
    font-family:Rounded-Elegance;
    font-weight: 300;
    font-size: 4em;
    
}
.grow-on-hover{
    transform: scale(1) ;
    transition: transform 0.5s;
}

.grow-on-hover:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
/* =====================================HERO CONTAINER STUFF!!=========================================== */
.hero-container{
    height: 100vh;
    background-color: #25397E;
    padding:0;
}
.animation-container{
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: red;
}
.avatar{
    border-radius: 50%;
    width:15vw;
    height: 15vw;
    min-width: 200px;
    min-height:200px;
    position: absolute; 
    background-image: url('../images/home/me.jpg');
    background-size: cover;
    
}
.separator{
    height:40%;
    width:100vw;
    display: flex;
    justify-content: center;
}

.pixel-art{
    image-rendering: pixelated;
}
.character-frame{
    width:160px;
    height:160px;
    overflow: hidden; 
    position: absolute;
    z-index: 100;
}

#title{
    font-size: 6em;

}
#subtitle{
    font-size: 4em;

}
/* ======================================= ABOUT ME STUFF ==================================================== */


.about-me-heading-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
      
}

.about-me-sub-header{
    font-size: 2em;
    font-family:Gontserrat;
}

.info-box-title{
    font-size: 2em;
    font-family: gontserrat;

}
.info-box-subtitle{
    font-size: 1.2em;
    font-family: gontserrat;

}
.info-box-text{
    font-size: 1.1em;
    font-family: sans-serif;
}

.tech-icon{
    border-radius: 50%;
    width:60px;
    height:60px;
}
.about-me-content-container{
    height:600px;
    
}
.about-me-content{
    margin-top: 2em;
}
#about-me-info-container{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}


.pipe-container{
    position: relative;
    bottom: 21%;
    left:1%;
}
.pipe{
    position: absolute;
    width: 260px;
    height:260px;
    z-index: 101;
}
/*====================================================================== MY SKILLS STUFF================================================================================ */
.honeycomb-grid-container{
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-column-gap: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 1040px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
  
.honeycomb-grid-container-item{
    grid-column: span 2;
    width: 200px;
    padding: 0 0 230px 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
    margin-top: -50px;
}
  
.honeycomb-grid-container-item:nth-child(9n+1){ grid-column-start: 1;}
.honeycomb-grid-container-item:nth-child(9n+2){ grid-column-start: 3;}
.honeycomb-grid-container-item:nth-child(9n+3){ grid-column-start: 5;}
.honeycomb-grid-container-item:nth-child(9n+4){ grid-column-start: 7;}
.honeycomb-grid-container-item:nth-child(9n+5){ grid-column-start: 9;}
.honeycomb-grid-container-item:nth-child(9n+6){ grid-column-start: 2;}
.honeycomb-grid-container-item:nth-child(9n+7){ grid-column-start: 4;}
.honeycomb-grid-container-item:nth-child(9n+8){ grid-column-start: 6;}
.honeycomb-grid-container-item:nth-child(9n){ grid-column-start: 8;}
  
.hexagon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("https://picsum.photos/250/250/?image=870"); */
    object-fit:cover;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    
}
.hexagon:hover{
    transform: skewY(-30deg) rotate(60deg) scale(1.1);
    transition: transform 0.5s ease-in-out;
  
}
      
.honeycomb-grid-container-item *{
    visibility: visible
}
  
  /**** Responsive wizardry ****/
  
@media(max-width: 1100px){
    .honeycomb-grid-container{
        grid-template-columns: repeat(8, 100px);
        width: 830px
    }
    .honeycomb-grid-container-item:nth-child(7n+1){ grid-column-start: 1;}
    .honeycomb-grid-container-item:nth-child(7n+2){ grid-column-start: 3;}
    .honeycomb-grid-container-item:nth-child(7n+3){ grid-column-start: 5;}
    .honeycomb-grid-container-item:nth-child(7n+4){ grid-column-start: 7;}
    .honeycomb-grid-container-item:nth-child(7n+5){ grid-column-start: 2;}
    .honeycomb-grid-container-item:nth-child(7n+6){ grid-column-start: 4;}
    .honeycomb-grid-container-item:nth-child(7n){ grid-column-start: 6;}
}
  
@media(max-width: 850px){
    .honeycomb-grid-container{
        grid-template-columns: repeat(6, 100px);
        width: 620px
    }
    .honeycomb-grid-container-item:nth-child(5n+1){ grid-column-start: 1;}
    .honeycomb-grid-container-item:nth-child(5n+2){ grid-column-start: 3;}
    .honeycomb-grid-container-item:nth-child(5n+3){ grid-column-start: 5;}
    .honeycomb-grid-container-item:nth-child(5n+4){ grid-column-start: 2;}
    .honeycomb-grid-container-item:nth-child(5n){ grid-column-start: 4;}
  }
  
@media(max-width: 720px){
    .honeycomb-grid-container{
        grid-template-columns: repeat(4, 100px);
        width: 410px;
    }
    .honeycomb-grid-container-item:nth-child(3n+1){ grid-column-start: 1;}
    .honeycomb-grid-container-item:nth-child(3n+2){ grid-column-start: 3;}
    .honeycomb-grid-container-item:nth-child(3n){ grid-column-start: 2;}
  }

/* =====================================MY WORKS STUFF================================================================= */

.cardImage{
    width:100%;
    height:150px;  
}

.fixed-card-height{
    height:350px;
}

.card-header{
    position: relative;
}
.card-header a{
    position: absolute;
    left:30%;
    top:45%;
    visibility: hidden;
}
.card-header .cardImage{
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

}
.card-header:hover .cardImage{
    opacity: 0.2;
}
.card-header:hover a{
    visibility: visible;
}


/* ====================================CONTACT STUFF======================================================================== */

.contact-container{
    border-radius: 50%;
    width:250px;
    height:250px;
}


/* =======================================ANIMATION CLASSES =========================================================== */

.flip-x{
    transform:scaleX(-1);
}

.spin-y{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.roll-away{
    -webkit-animation:roll-away 4s linear 1, rotate 4s linear infinite;
    -moz-animation:roll-away 4s linear 1 , rotate 4s linear infinite;
    animation:roll-away 4s linear 1, rotate 4s linear infinite;
    
}

.sprite-typing{
    animation: stepThroughSpriteSheet 0.3s steps(3) infinite;
}
.spritesheet{
    animation: stepThroughSpriteSheet 1s steps(7) infinite;
}

.header-sprite-animation{
    animation: translateRight 2.5s linear 1;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 5;
}

.fade-in{
    animation: fade-text 2s ease-in 1;
}
/* ===================================================ABOUT ME PAGE ANIMATIONS====================================================== */
.about-me-right-fall{
    animation: aboutMeRightFall 0.5s linear 1;
}
.about-me-right-run{
    
    animation: aboutMeRightRun 1.5s linear 1;
}
.about-me-right-jump{
    
    animation: aboutMeRightJump 0.5s linear 1;
}
.about-me-center-fall{
    animation: aboutMeCenterFall 1.0s linear 1;
}
.about-me-center-run{
    
    animation: aboutMeCenterRun 1.0s linear 1;
}

.about-me-left-fall{
    animation: aboutMeLeftFall 0.5s linear 1;
}
.about-me-pipe-fall{
    
    animation: aboutMePipeFall 2.0s linear 1;
}
@keyframes aboutMeRightFall{
    0%{ transform-origin: top right; transform: scaleX(-1) translate(0,0);}
    100%{ transform: scaleX(-1) translate(4vw, 3vh);}

}
@keyframes aboutMeRightRun{
    0%{transform-origin: 4vw, 3vh; transform:translate(-4vw, 3vh)scaleX(-1);}
    100%{transform:translate(-38vw,3vh) scaleX(-1);}

}
@keyframes aboutMeRightJump{
    0%{transform-origin: -38vw,3vh; transform:translate(-38vw,3vh)scaleX(-1);}
    100%{transform:translate(-50vw,0.5vh) scaleX(-1);}

}
@keyframes aboutMeCenterFall{
    0%{transform-origin: -50vw,0.5vh; transform:translate(-50vw,0.5vh)scaleX(-1);}
    100%{transform:translate(-57vw,25vh) scaleX(-1);}

}
@keyframes aboutMeCenterRun{
    0%{transform-origin: -57vw,25vh; transform:translate(-57vw,25vh)scaleX(-1);}
    100%{transform:translate(-80vw,25vh) scaleX(-1);}

}
@keyframes aboutMeLeftFall{
    0%{transform-origin: -80vw,25vh; transform:translate(-80vw,25vh)scaleX(-1);}
    100%{transform:translate(-84vw,51vh) scaleX(-1);}

}
@keyframes aboutMePipeFall{
    0%{transform-origin: -84vw,51vh; transform:translate(-84vw,51vh)scaleX(-1);}
    100%{transform:translate(-84vw,64vh) scaleX(-1);}

}
/* ==================================MY SKILLS ANIMATIONS ============================================================= */
.my-skills-left-fall{
    animation: mySkillsLeftFall 0.5s linear 1;
}
.my-skills-hit-container{
    animation: mySkillsHitContainer 0.2s linear 1;
}
.my-skills-plunge{
    animation: mySkillsPlunge 1.5s linear 1;
}
@keyframes mySkillsLeftFall{
    0%{ transform-origin: top left; transform: translate(4.5vw,0);}
    100%{ transform: translate(4.5vw, 13vh);}

}
@keyframes mySkillsHitContainer{
    0%{ transform-origin: 4.5vw, 13vh; transform: translate(4.5vw, 13vh);}
    100%{ transform: translate(1vw, 12vh) rotateZ(-30deg);}

}
@keyframes mySkillsPlunge{
    0%{ transform-origin: 1vw, 12vh; transform: translate(-1vw,12vh)rotateZ(-30deg);}
    100%{ transform: translate(-1vw, 100vh) rotateZ(-90deg);}

}

/*================================= ANIMATION KEY FRAMES ===============================================================*/
@keyframes fade-text{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes roll-away{
    0% {bottom:40vh;}
    10% {bottom:0; left:40%;}
    100%{bottom:0; left:100%;}
}
@keyframes stepThroughSpriteSheet{
    from{
        transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        -webkit-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        -o-transform: translate3d(-100%,0,0);
        -webkit-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
    }
}

@-moz-keyframes spin { 100% {-moz-transform: rotateY(360deg);}}
@-webkit-keyframes spin { 100% {-webkit-transform: rotateY(360deg);}}
@keyframes spin { 100% {-webkit-transform: rotateY(360deg); transform:rotateY(360deg);}}

@-moz-keyframes rotate { 100% {-moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% {-webkit-transform: rotate(360deg); } }
@keyframes rotate { 100%{-webkit-transform: rotate(360deg); transform:rotate(360deg);}}

@keyframes translateRight{
    0% {transform:translateX(0); bottom: -165px;}
    100%{transform:translateX(50vw); bottom: -165px;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}




/* ===================================================MEDIA RULES ==================================================================== */
@media only screen and (max-width: 1050px) {
    #title{
        font-size: 9vw;
    }
    #subtitle{
        font-size: 6vw;
    }

    
}

@media only screen and (max-width: 932px) {
    #avatar-container{
        height:30%;
    }
}

@media only screen and (max-width: 1199px) {
    .line{
        display: none;
    }

    .info-box{
        height: 200px;
    }
    .adjustable-text-size{
        font-size: 1.1em;
    }
    
}

@media only screen and (max-width: 1300px) {
    .adjustable-text-size{
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 1199px) {
    #info-box-left{
        margin-top: -150px;
        margin-bottom: 50px;
    }
    
}


@media only screen and (max-width: 992px) {
    .info-box-title{
        font-size: 1.5em;
    }
    .info-box-subtitle{
        font-size: 1em;
    }
    .adjustable-text-size{
        font-size: 0.8em;
    }
    .fixed-bottom{
        display: none;
    }
    .cardImage{
        max-width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    #my-works{
        height: 250vh;
    }

    .card-header a{
        left:45%;

    }
    .about-me-heading-container{
        height:30vh;
    }
    .about-me-content-container{
        height:500px;
    }
}


@media only screen and (max-width: 768px) {
    .card-header a{
        left:40%;

    }
}

/* =====================================================================BACKGROUND SVG STUFF!!================================================================================== */
/* WAVE OPACITY HEADER */
.custom-shape-divider-bottom-1615176798 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615176798 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1615176798 .shape-fill {
    fill: #FFFFFF;
}


/* triangle */
.custom-shape-divider-bottom-1615180636 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1615180636 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1615180636 .shape-fill {
    fill: #32805a;
}