@font-face{
    font-family: Generica;
    src:url('../Fonts/Generica.otf');
}

@font-face{
    font-family: Gontserrat;
    src:url('../Fonts/Gontserrat-Regular.ttf')
}

@font-face{
    font-family:Rounded-Elegance;
    src:url('../Fonts/Rounded_Elegance.ttf')
}

.bg-theme-green{
    background-color:#67b896;

}

.bg-theme-purple{
    background-color:#ab32db;
}
.bg-theme-navy{
    background-color: #25397E;
}
body, html{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}

.nav-link-space{
    margin-right: 15vw;
    margin-left: 15vw;
}

.custom-nav-link{
    font-size: 1.3em;
    font-family: Gontserrat;
}
.section-header{
    color:#eee;
    font-family:Generica;
    font-weight: 700;
    font-size: 4em;
    
}
.section-container{
    height:100vh;
}
/* =====================================HERO CONTAINER STUFF!!=========================================== */
.hero-container{
    background-image: url('../images/keyboard.jpg');
    background-size: cover;
    height: 100vh;
    background-color: #25397E;
    box-shadow:inset 0 0 0 2000px rgba(37, 57, 126, 0.6);
    padding:0;
}
.animation-container{
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: red;
}
.avatar{
    border-radius: 50%;
    width:17vw;
    height: 17vw;
    min-width: 200px;
    min-height:200px;
    position: absolute; 
    background-image: url('../images/me.jpg');
    background-size: cover;
    
}
.separator{
    height:40%;
    width:100vw;
    display: flex;
    justify-content: center;
}
.fixed-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 140px solid #67b896;

}

#destroyButton{
    margin-top: 50px;
    margin-left:-13px;
}
.pixel-art{
    image-rendering: pixelated;
}
.character-frame{
    width:160px;
    height:160px;
    overflow: hidden; 
    position: absolute;
}
/* ======================================= ABOUT ME STUFF ==================================================== */

.info-box{
    border-radius: 5%;
    width:100%;
    height: 250px;
}

/* =======================================ANIMATION CLASSES =========================================================== */

.flip-x{
    transform:scaleX(-1);
}

.spin-y{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.roll-away{
    -webkit-animation:roll-away 4s linear 1, rotate 4s linear infinite;
    -moz-animation:roll-away 4s linear 1 , rotate 4s linear infinite;
    animation:roll-away 4s linear 1, rotate 4s linear infinite;
    
}


.spritesheet{
    animation: moveSprite 1s steps(7) infinite;
}

.header-sprite-animation{
    animation: translateRight 3s linear 1;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 5;
}

.fade-in{
    animation: fade-text 2s ease-in 1;
}

.about-me-animation{
    animation: aboutMeAnimation 3s linear 1;
}
/*================================= ANIMATION KEY FRAMES ===============================================================*/
@keyframes fade-text{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes roll-away{
    0% {bottom:40vh;}
    10% {bottom:0; left:40%;}
    100%{bottom:0; left:100%;}
}
@keyframes moveSprite{
    from{
        transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        -webkit-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        -o-transform: translate3d(-100%,0,0);
        -webkit-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
    }
}

@-moz-keyframes spin { 100% {-moz-transform: rotateY(360deg);}}
@-webkit-keyframes spin { 100% {-webkit-transform: rotateY(360deg);}}
@keyframes spin { 100% {-webkit-transform: rotateY(360deg); transform:rotateY(360deg);}}

@-moz-keyframes rotate { 100% {-moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% {-webkit-transform: rotate(360deg); } }
@keyframes rotate { 100%{-webkit-transform: rotate(360deg); transform:rotate(360deg);}}

@keyframes translateRight{
    0% {transform:translateX(0); bottom: -15px;}
    100%{transform:translateX(50vw); bottom: -15px;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes aboutMeAnimation{
    0%{right: 10vw}
    25%{top: 10vw}
    50%{right: 20vw}
    100%{top: 20vw}
}

/* ===================================================MEDIA RULES ==================================================================== */
@media only screen and (max-width: 1050px) {
    #title{
        font-size: 9vw;
    }
    #subtitle{
        font-size: 6vw;
    }

    
}

@media only screen and (max-width: 810px) {
    #title{
        font-size: 9vw;
    }
    #subtitle{
        font-size: 6vw;
    }
}



@media only screen and (max-width: 932px) {
    #avatar-container{
        height:30%;
    }
}

@media only screen and (max-width: 1200px) {
    .line{
        display: none;
    }

    .info-box{
        height: 200px;
    }
}

@media only screen and (max-width: 992px) {
    .line{
        display: none;
    }

    .info-box{
        height: 150px;
    }
}
